$backgroundHeaderColor: rgba(16, 16, 29, 0.90);
$colorTextWhite: #fff;
$colorTextBlack: #2A2B30;
$colorTextGrey: #BBB; 
$accentColor: #42A9ED;
$footerColorBackground: #3D4050;
$footerColorText: #C3C3C3;